<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Jogo da Memória Angular4 + Materialize</a>
  </div>
</nav>

<board></board>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Jogo da Memória</h5>
        <p class="grey-text text-lighten-4">Angular2+ + Materialize css.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">      
      © 2017 xalexandre.net      
    </div>
  </div>
</footer>